<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Year level:</strong>
    <%= student.year_level %>
  </p>

  <p>
    <strong>Number of units:</strong>
    <%= student.number_of_units %>
  </p>

  <p>
    <strong>Total assessment:</strong>
    <%= student.total_assessment %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <p><%= image_tag user.avatar %></p>
  </p>

  <p>
    <%user&.id_cards&.map do |id|%>
      <p><%=id.filename%></p>
    <%end%>
  </p>

</div>
